#home .startMenu {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#home #menu .ui-slider input {
    display: none;
}

#home #menu .ui-slider .ui-slider-track {
    margin-left: 15px;
}

footer p {
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #ff0000;
    bottom: 10px;
}

#game .gameZone {
    position = relative;
    background: url("/assets/aacocottetitlepage.gif");
    background-position: 50% top;
    width: 25%;
    height: 50%;
    opacity: 0.7;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform: translateX(-0%) translateY(-0%);
}
img.superpose {
   position: absolute;
   top: 25px;
   left: 30px;
}
#img_1 {
   z-index: 10;
   width: 30%;
   visibility: hidden;
}
#img_2 {
   z-index: 11;
   width: 30%;
   visibility: hidden;
}
#img_3 {
   z-index: 12;
   width: 30%;
   visibility: hidden;
}
